body{
    background-color: rgb(27, 27, 27);
}

.receiptframe{
    background-color: rgb(58, 58, 58);
    border-radius: 5px;
    padding: 10px;
}

.loginframe{
    background-color: rgb(58, 58, 58);
    border-radius: 5px;
    padding: 10px;
}

.inframe{
    background-color: rgb(97, 97, 97);
    border-radius: 5px;
    padding: 10px;
    margin: 0;
}

.pricedisplay{
    background-color: rgb(97, 97, 97);
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    font-weight: 600;
    color: white;
    font-size: 20px;
}

table{
    margin: 0 !important;
    padding: 0;
}